body {
  margin: 0;
}

button a {
  text-decoration: inherit;
  color: inherit;
}

.top-menu-link{
  text-decoration: none;
}

.mapview-map {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.map-filter-panel{
  position: absolute;
  top: 55px;
  right: 5px;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.675);
  border-radius: 5px;

}

.map-bottom-buttons{
  position: absolute;
  z-index: 4;
  bottom: 30px;
  right: 10px;
}

.report-popup {
  width: 400px;
  max-width: 95vw;
}
.report-popup-container {
 width:100%;
 margin: 0;
}
.leaflet-popup-content-wrapper{
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
  width: 100%;
}

.popup-close-button {
  opacity: 0.9;
  position: absolute;
  right: 0;
  z-index: 1;
}

.form-map {
  width: 100%;
  height: 70vh;
}
.form-map-small {
  width: 100%;
  height: 20vh;
  z-index: 3;

}

.minimap-button {
  position: absolute;
  z-index: 500;
  right: 5px;
  top: 5px;
}

.crosshair {
  font-size: 60px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}
